.idea
*.tar.xz
*.pyc
wandb
checkpoint/*.pth.tr

**.pkl
**.pth*
**yolo*.weights
**.npz
**.png

**.DS_Store

demo/output/**
demo/video/**


**.venv
**.env
**.vscode
**.mypy_cache
**.pytest_cache
**.coverage
**.ipynb_checkpoints
